# Visual Studio
.vs/
*.suo
*.user
*.useros
*.pdb
*.log

# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/

# Node.js / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
build/
dist/
.cache/
.next/ # Si usas Next.js
.expo/ # Si usas Expo
